/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN NORMALIZE.CSS)
	- Normalize
	- Box sizing
	- Media width
#Variables
# Base
	- Typography
	- Elements
	- Links
# Components
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Variables
--------------------------------------------- */
:root {
	--accent-yellow: #fffb92;
	--accent-orange: #ffc262;
	--accent-red: #ff9962;
	--accent-darker-red: #ff7c35;
	--accent-grey: #535353;
  
	/* --background-yellow: #fffdd5; */
	--background-yellow: #ffe462;
  }
  /* Typography
  --------------------------------------------- */
  body {
	font-family: "Mukta", sans-serif;
  }
  
  h1,
  h2,
  h3,
  h4 {
	font-family: "Vollkorn", serif;
	font-weight: 400;
	background-color: var(--background-yellow);
	display: block;
	position: relative;
	z-index: 5;
  }
  
  li {
	font-family: "Mukta", sans-serif;
  }

  .explore-title{
	font-size: 1.2rem;
  }
  
  @media (min-width: 60em) {
	h3, .explore-title {
	  font-size: 1.3rem;
	}
  }
  
  /* page headings */
  h1 {
	font-style: italic;
	font-size: 2.1rem;
	margin: 0;
	max-width: 15rem;
	animation: fadeInDown;
	animation-duration: 2s;
	margin: 0;
	text-align: center;
  }
  
  p {
	background-color: var(--background-yellow);
	display: block;
	position: relative;
	z-index: 5;
  }
  
  .mobile-nav a {
	font-family: "Vollkorn", serif;
	font-weight: 500;
  }
  
  @media only screen and (min-width: 26rem) {
	h1 {
	  font-size: 2.5rem;
	  margin: 0;
	  max-width: 18rem;
	}
  }
  
  /* headings-2 */
  h2 {
  }
  
  @media (min-width: 40em) {
	h2 {
	}
  }
  
  p {
	font-size: 1.2rem;
	line-height: 1.8rem;
  }
  
  @media (min-width: 60em) {
	p {
	  font-size: 1.3rem;
	}
  }
  
  /* Elements
  --------------------------------------------- */
  section,
  aside {
	padding: 0 1rem;
  }
  
  html {
	background-color: var(--background-yellow);
  }
  
  /* background diagonal line */
  .back-line {
	position: fixed;
	width: 49rem;
	height: 1px;
	background-color: #000;
	z-index: 0;
	transform: rotate(45deg) translateX(-3%);
  }
  
  #line-two {
    top: 112vh;
	transform: rotate(45deg) translateX(-51%);
  }
  
  #line-one {
	width: 242%;
	left: -6rem;
	top: 18rem;
  }
  
  @media (min-width: 26rem) {
	#line-two {
	  top: 127vh;
	}
  
	#line-one {
	  left: -4rem;
	}
  }
  
  @media (min-width: 40rem) {
	#line-two {
	  top: 124vh;
	}
  
	#line-one {
	  left: -12rem;
	}
  }
  
  @media (min-width: 50rem) {
	#line-two {
	  top: 105vh;
	}
  
	#line-one {
	  left: -16rem;
	}
  }
  
  @media (min-width: 60rem) {
	#line-two {
	  top: 105vh;
	}
  
	#line-one {
	  left: -16rem;
	}
  }
  
  @media (min-width: 70rem) {
	#line-two {
	  top: 104vh;
	  width: 67rem;
	}
  
	#line-one {
	  left: -35rem;
	}
  }
  
  @media (min-width: 90rem) {
	#line-two {
	  width: 75rem;
	}
  
	#line-one {
	  left: -40rem;
	}
  }
  
  @media (min-width: 114rem) {
	#line-two {
	  width: 101rem;
	}
  
	#line-one {
	  left: -59rem;
	}
  }
  
  /* Tools */
  .tools-used {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	/* height: 80vh; */
  }
  
  .tools-used li {
	width: fit-content;
	border-radius: 16px;
	/* margin: 2rem; */
	margin: 0 0.5rem;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	/* font-size: 1.2rem; */
	height: fit-content;
  }
  
  .work-content-wrapper .tools-used li {
	margin: 0.5rem;
  }
  
  /* tech tools */
  .tech-tools-item {
	background: #79d8ff;
	box-shadow: -5px 3px #2fc3ff;
  }
  
  /* design tools */
  .design-tools-item {
	background: #ff7f7f;
	box-shadow: -5px 3px #fd6060;
  }
  
  /* team tools */
  .team-tools-item {
	background: #7fff9f;
	box-shadow: -5px 3px #4df979;
  }
  
  /* Links
  --------------------------------------------- */
  a,
  a:visited {
	text-decoration: none;
	color: #000;
	font-family: "Vollkorn", serif;
  }
  a:visited {
	text-decoration: none;
	color: #000;
  }
  
  a:focus {
  }
  
  @media (min-width: 60em) {
	a {
	  font-size: 1.3rem;
	}
  }
  
  /*--------------------------------------------------------------
  # Components
  --------------------------------------------------------------*/
  
  /* Header
  --------------------------------------------- */
  
  /* Mobile menu styles */
  .hamburger-menu {
	position: fixed;
	right: 1rem;
	width: 2.5rem;
	height: 1.9rem;
	cursor: pointer;
	z-index: 9999;
	bottom: 1.5rem;
	background: none;
	border: none;
  }
  
  .bar {
	position: absolute;
	width: 100%;
	height: 5.5px;
	background-color: var(--background-yellow);
	margin: 6px auto;
	transition: 0.4s;
	border-radius: 1rem;
	display: flex;
	justify-content: center;
	border: 1px solid #000;
	transition: 0.4s;
	left: 0;
  }
  
  .before-bar,
  .after-bar {
	width: 83%;
	border-radius: 10px;
	left: 0.2rem;
  }
  
  .middle-bar {
	top: 0;
  }
  
  .before-bar {
	top: -9px;
  }
  
  .after-bar {
	top: 9px;
  }
  
  /* Active state for hamburger menu */
  
  .change .middle-bar {
	transform: translateX(4rem);
  }
  
  .change .before-bar {
	transform: rotate(45deg);
	top: 0;
	background-color: #ff7f7f;
  }
  
  .change .after-bar {
	transform: rotate(-45deg);
	top: 0;
	background-color: #ff7f7f;
  }
  
  /* navigation heading styling */
  .site-navigation {
	background-color: #fffb92;
	padding: 0;
	margin: 0;
  }
  
  .mobile-nav {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	transform: translateX(0);
	transition: transform 1s ease-in-out;
	list-style: none;
	padding: 3rem 1rem;
	align-items: center;
	top: 0;
	right: 0;
	margin: 0;
	height: 100vh;
	background: rgb(0, 0, 0);
	background: linear-gradient(
	  90deg,
	  rgba(0, 0, 0, 0) 2%,
	  rgba(0, 0, 0, 0.6927374301675977) 25%,
	  rgba(0, 0, 0, 1) 56%,
	  rgba(0, 0, 0, 1) 81%,
	  rgba(0, 0, 0, 1) 100%
	);
	z-index: 1000;
  }
  
  .mobile-nav.hide {
	transform: translateX(10rem);
	transition: transform 1s ease-in-out;
  }
  
  .mobile-nav li a {
	padding: 0 1rem;
	width: 6.4rem;
	height: 5.3rem;
	display: flex;
	align-items: center;
	clip-path: polygon(50% 0, 85% 25%, 85% 75%, 50% 100%, 15% 75%, 15% 25%);
	background-color: var(--background-yellow);
	justify-content: center;
	color: #000;
	font-size: 1.1rem;
  }
  
  #email-link,
  #github-link {
	padding: 0;
	width: fit-content;
	height: 2rem;
	display: flex;
	align-items: center;
	clip-path: view-box;
	background-color: var(--background-yellow);
	justify-content: center;
	color: #000;
	font-size: 1.1rem;
	margin: 0 0 1rem;
	background: none;
	position: relative;
	top: 1rem;
	transform: rotate(0);
  }
  
  #email-link a,
  #github-link a {
	background: none;
	fill: var(--background-yellow);
	width: fit-content;
	height: fit-content;
  }
  
  #email-link a:focus,
  #email-link a:hover,
  #github-link a:focus,
  #github-link a:hover {
	fill: var(--accent-red);
  }
  
  @media (min-width: 60em) {
	#email-link a,
	#github-link a {
	  fill: var(--accent-darker-red);
	}
  
	#email-link a:focus,
	#email-link a:hover,
	#github-link a:focus,
	#github-link a:hover {
	  fill: var(--accent-grey);
	}
  
	#email-link,
	#github-link {
	  top: 4vh;
	}
  }
  
  @media only screen and (min-width: 72em) {
	#email-link a,
	#github-link a {
	  fill: #000;
	}
  
	#email-link a:focus,
	#email-link a:hover,
	#github-link a:focus,
	#github-link a:hover {
	  fill: var(--accent-darker-red);
	}
  }
  
  #email-link svg,
  #github-link svg {
  }
  
  @media (min-width: 60em) {
	.mobile-nav li a {
	  font-size: 1.18rem;
	}
  }
  
  .mobile-nav li a:hover,
  .mobile-nav li a:focus,
  .mobile-nav li a:active {
	background-color: var(--accent-red);
  }
  
  .mobile-nav li a#current {
	background-color: #a19143;
  }
  
  .mobile-nav li {
	width: 6.8rem;
	height: 5.6rem;
	clip-path: polygon(50% 0, 85% 25%, 85% 75%, 50% 100%, 15% 75%, 15% 25%);
	background-color: #000000;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: rotate(90deg);
	margin: 1rem 0;
	font-size: 1rem;
  }
  
  .mobile-nav li:hover {
	transform: rotate(105deg);
  }
  
  .mobile-nav li a div {
	display: inline-block;
	transform: rotate(270deg);
  }
  
  .mobile-nav li a#current:focus {
	background-color: var(--accent-red);
  }
  
  /* Desktop Nav */
  @media only screen and (min-width: 60rem) {
	.hamburger-menu {
	  display: none;
	}
  
	.mobile-nav {
	  transform: translate(0%, 0%);
	  transition: none;
	  background: #00000000;
	  right: 1rem;
	  top: 6vh;
	}
  
	.mobile-nav.hide {
	  transform: none;
	  transition: none;
	}
  
	.mobile-nav li a#current {
	  background-color: var(--accent-orange);
	}
  }
  
  @media only screen and (min-width: 90rem) {
	.mobile-nav {
	  right: 3rem;
	}
  }
  
  /* Main
  --------------------------------------------- */
  
  /* Page Header */
  
  /* increase text size on big screen */
  @media (min-width: 40em) {
	.page-header h1 {
	  font-size: 4rem;
	  text-shadow: 2.5px 2.5px var(--accent-yellow);
	}
  }
  @media (min-width: 60em) {
	.page-header h1 {
	  font-size: 5rem;
	  text-shadow: 2.5px 2.5px var(--accent-yellow);
	}
  }
  
  /* Landing Page */
  
  .landing-content {
	min-height: 100vh;
	width: 100%;
	background: var(--background-yellow);
	display: flex;
	flex-direction: column;
	justify-content: center;
  }
  
  .landing-title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	z-index: 5;
	background-color: var(--background-yellow);
  }
  
  .landing-content p {
	margin: 0;
	animation: fadeInLeft;
	animation-duration: 3.3s;
	font-style: italic;
  }
  
  .container {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: baseline;
	align-items: center;
	margin-bottom: 3rem;
  }
  
  .container article {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 0 5rem;
	position: relative;
	width: 95%;
	box-shadow: -4px 13px 6px 3px #000000bf;
  }
  
  section {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	padding: 0;
  }
  #sec-1 {
  }
  #sec-2 {
  }
  
  .explore {
	background: var(--background-yellow);
  }
  
  .explore:hover,
  .explore:focus {
	background: var(--accent-red);
	border-radius: 50px;
  }
  
  .scroll-down {
	height: 35px;
	width: 30px;
	border: 2px solid black;
	position: relative;
	border-radius: 50px;
	cursor: pointer;
  }
  
  .scroll-down::before,
  .scroll-down::after {
	content: "";
	position: absolute;
	top: 20%;
	left: 50%;
	height: 10px;
	width: 10px;
	transform: translate(-50%, -100%) rotate(45deg);
	border: 2px solid black;
	border-top: transparent;
	border-left: transparent;
	animation: scroll-down 1s ease-in-out infinite;
	animation-duration: 1.4s;
  }
  .scroll-down::before {
	top: 30%;
	animation-delay: 0.6s;
  }
  
  .explore,
  .explore-title {
	opacity: 1;
	transition: opacity 0.5s;
  }
  
  .fade-out-scroll {
	opacity: 0;
	/* animation: opacity 0.5s forwards; */
  }
  
  .fade-in-scroll {
	opacity: 0;
	animation: fadeIn-scroll 2s 2.2s forwards; /* Animation name, duration, and delay */
	transition: opacity 0.5s;
  }
  
  .disable {
	pointer-events: none;
	cursor: default;
  }
  
  .explore-wrapper h3 {
	margin: 0 0 0.6rem;
	background: var(--background-yellow);
  }
  .explore-wrapper {
	position: absolute;
	bottom: 0.5rem;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 1rem;
  }
  
  @keyframes scroll-down {
	0% {
	  opacity: 0;
	}
	30% {
	  opacity: 1;
	}
	60% {
	  opacity: 1;
	}
	100% {
	  top: 90%;
	  opacity: 0;
	}
  }
  
  @keyframes fadeIn-scroll {
	from {
	  opacity: 0;
	}
	to {
	  opacity: 1;
	}
  }
  
  /* About Page ---------------------------------------------------------------------*/
  
  .about-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 2rem 0 3rem;
  }
  
  .about-wrapper h1 {
	margin: 5rem 0 3rem;
  }
  
  .about-wrapper .hexagon {
	width: 100%;
	max-width: 20rem;
	background-color: transparent;
	position: relative;
	overflow: hidden;
	margin: 0 1rem 2rem;
  }
  
  .about-wrapper .hexagon::before,
  .about-wrapper .hexagon::after {
	content: "";
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
  }
  
  .about-wrapper h2 {
	margin: 2rem 0 1rem;
	background-color: #00000000;
	color: #ffff;
  }
  
  .about-text {
	margin: 0 auto 2rem;
	padding: 0 1.5rem;
	max-width: 30rem;
  }
  
  .self-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
	animation: fadeIn;
	animation-duration: 1.7s;
  }
  
  .about-wrapper .all-tools-wrapper .tools-used {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
  }
  
  .about-wrapper .all-tools-wrapper li {
	margin: 1rem;
  }
  
  .about-wrapper .all-tools-wrapper {
	width: 100%;
	height: 100vh;
	background: #000000db;
	position: relative;
	justify-content: center;
  }
  
  @media only screen and (min-width: 45em) {
	.about-wrapper {
	  margin: 3rem auto;
	}
  
	.about-wrapper .all-tools-wrapper .tools-used {
	  max-width: 30rem;
	}
  }
  
  @media only screen and (min-width: 60em) {
	.about-wrapper {
	  display: grid;
	  grid-template-columns: 1fr 1fr 7rem;
	  min-height: 100vh;
	  width: 100%;
	  margin: 6rem auto 3rem;
	}
	.about-wrapper h1 {
	  margin: 2rem auto;
	  grid-column: 1/4;
	  grid-row: 1/2;
	}
  
	.about-wrapper .hexagon {
	  grid-column: 1/2;
	  grid-row: 2/3;
	  justify-self: end;
	  margin-right: 4rem;
	 margin: 0 4rem 2rem 0;
	}
  
	.about-text {
	  margin: 2rem 1rem;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	}
  
	.about-wrapper .all-tools-wrapper {
	  height: fit-content;
	  margin: 2rem 0;
	}
  
	.about-wrapper .all-tools-wrapper .tools-used {
	  max-width: 50em;
	}
  
	.about-wrapper .all-tools-wrapper li {
	  margin: 2rem;
	  font-size: 1.2rem;
	}
  }
  
  @media only screen and (min-width: 72em) {
	.about-wrapper .all-tools-wrapper {
	  max-width: 56rem;
	  padding: 2rem 0;
	  border-radius: 8px;
	  justify-self: center;
	}
  }
  
  @media only screen and (min-width: 90em) {
	.about-wrapper {
	  margin: 8rem auto 3rem;
	}
  }
  
  .about-wrapper .all-tools-wrapper {
	grid-column: 1/4;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
  }
  
  @media only screen and (min-width: 90em) {
	.all-tools-wrapper {
	  width: 100%;
	  /* height: 100vh; */
	  background: #000000db;
	  position: relative;
	  left: 0;
	  justify-content: center;
	}
  }
  
  /* full collage content + text */
  
  .shake {
	animation: shake-animation 6s infinite;
  }

  .element {
	margin: 0 auto;
	width: 150px;
	height: 150px;
	background: red;
  }
  
  @keyframes shake-animation {
	0% {
	  transform: translateY(0);
	}
	12.5% {
	  transform: translateY(8px);
	}
	25% {
	  transform: translateY(0);
	}
	37.5% {
	  transform: translateY(8px);
	}
	50% {
	  transform: translateY(0);
	}
	62.5% {
	  transform: translateY(8px);
	}
	75% {
	  transform: translateY(0);
	}
	100% {
	  transform: translateY(8px);
	}
  }
  
  .insta-wrapper {
	position: relative;
	width: 100%;
	margin: 4rem 0;
	grid-column: 1/4;
	display: flex;
	align-items: center;
  }
  
  .insta-text {
	position: absolute;
	max-width: 20rem;
	left: 0;
	right: 0;
	margin: auto;
	top: 7rem;
	z-index: 3;
	opacity: 1;
	transition: opacity 0.5s;
	line-height: 1.8rem;
	text-align: center;
  }
  
  /* hexigon collage */
  .collage-content {
	position: relative;
  }
  
  .collage-container,
  .collage-menu {
	min-height: 40rem;
	width: 100%;
	position: relative;
	z-index: 4;
  }
  
  .collage-menu {
	transform: scale(0.9);
  }
  
  .collage-toggle {
	width: 13.8rem;
	height: 11.6rem;
	clip-path: polygon(50% 0, 85% 25%, 85% 75%, 50% 100%, 15% 75%, 15% 25%);
	background-color: var(--accent-red);
	display: flex;
	align-items: center;
	justify-content: center;
	transform: rotate(90deg);
	margin: auto;
	position: absolute;
	z-index: 7;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	cursor: pointer;
  }
  
  .collage-toggle:focus,
  .collage-toggle:hover {
	background-color: var(--accent-grey);
  }
  
  #add {
	font-size: 40px;
	color: white;
	transition: 1s;
  }
  
  .collage-item {
	width: 11.8rem;
	height: 9.92rem;
	clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
	background-color: green;
	margin: auto;
	position: absolute;
	z-index: 6;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	transition: 1s;
  }
  
  .collage-item img {
	height: 100%;
	width: 100%;
	object-fit: cover;
  }
  
  .collage-item:nth-last-child(1),
  .collage-item:nth-last-child(2),
  .collage-item:nth-last-child(4),
  .collage-item:nth-last-child(5) {
	display: none;
  }
  
  @media only screen and (min-width: 26em) {
	.collage-item:nth-last-child(4),
	.collage-item:nth-last-child(5) {
	  display: block;
	}
  
	.collage-content {
	  left: -17%;
	}
  }
  
  @media only screen and (min-width: 33em) {
	.collage-item:nth-last-child(1),
	.collage-item:nth-last-child(2) {
	  display: block;
	}
  
	.collage-content {
	  left: 0;
	  right: 0;
	}
  }
  
  @media only screen and (min-width: 40em) {
	.collage-item:focus-within,
	.collage-item:hover {
	  width: 14rem;
	  height: 11.77rem;
	  overflow: hidden;
	}
  }
  
  /* Work Page */
  
  .top-page-title {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 5rem 0;
  }
  
  .work-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	justify-content: center;
	margin: 3rem auto;
  }
  
  @media (min-width: 90rem) {
	.work-wrapper {
	  margin-top: 4rem;
	}
  }
  
  .all-work-wrapper {
	width: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	position: relative;
	top: 2rem;
  }
  
  .all-work-wrapper img {
	width: 100%;
	border-radius: 5px;
	border: 2px solid #000;
  }
  
  .all-work-wrapper h2 {
	width: fit-content;
	background: #000;
	text-align: right;
	padding: 0.8rem 0.5rem;
	border: 3px solid var(--accent-red);
	border-radius: 5px;
	font-size: 1.2rem;
	z-index: 3;
	color: var(--background-yellow);
	position: absolute;
	top: -1.5rem;
	margin: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
  }
  
  .all-work-wrapper article a,
  .container article a {
	height: fit-content;
	position: relative;
  }

  .all-work-wrapper article{
	position: relative;

  }

  /* single work animation */
  .animate-element {
	opacity: 0; 
	transition: opacity 1.3s;
  }

  .animate-element.animate {
	opacity: 1;
  }
  
  
  .work-wrapper article,
  .container article {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 0 5rem;
	position: relative;
	width: 95%;
	box-shadow: -4px 13px 6px 3px #000000bf;
  }
  
  .work-wrapper article a:hover,
  .work-wrapper article a:focus,
  .container article a:hover,
  .container article a:focus {
	top: -5px;
  }
  
  .work-wrapper article a:hover,
  .work-wrapper article a:focus,
  .container article:hover,
  .container article:focus-within {
	box-shadow: -7px 20px 14px 7px #000000bf;
  }
  
  .sum-tools {
	list-style: none;
	display: flex;
	width: 100%;
	justify-content: center;
	flex-wrap: wrap;
	position: absolute;
	bottom: -1rem;
	background: rgb(0, 0, 0);
	background: linear-gradient(
	  180deg,
	  rgba(0, 0, 0, 0) 2%,
	  rgba(0, 0, 0, 0.6927374301675977) 24%,
	  rgba(0, 0, 0, 1) 59%,
	  rgba(0, 0, 0, 1) 100%,
	  rgba(0, 0, 0, 1) 100%
	);
	padding: 1rem 0 1rem;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
  }
  
  .work-content-wrapper {
	position: relative;
	z-index: 5;
  }
  
  @media only screen and (min-width: 26em) {
	.all-work-wrapper article {
	  width: 85%;
	  max-width: 25rem;
	}
  }
  
  @media only screen and (min-width: 70em) {
  
	.all-work-wrapper article,
	.container article {
	  margin: 5rem 2rem;
	  width: 70%;
	  max-width: 40rem;
	}
  }
  
  @media only screen and (min-width: 100em) {
	.all-work-wrapper {
	  max-width: 88rem;
	}
  }
  
  /* SINGLE work page */
  
  .single-work-title {
	height: fit-content;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 4rem 0;
  }
  
  .all-tools-wrapper .tools-used {
	padding: 1rem;
  }
  
  .all-tools-wrapper .tools-used h2 {
	background: #00000000;
  }
  
  .single-work-wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	min-height: 100vh;
	justify-content: center;
  }
  
  .single-work-content {
	display: flex;
	justify-content: center;
	width: 100%;
  }
  
  .work-content-wrapper p {
	margin: 2rem 0 1rem;
  }
  
  .work-content-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 0 5rem;
	position: relative;
	width: 95%;
  }
  
  .image-and-tech-wrapper {
	box-shadow: -6px 7px 6px 3px #000000bf;
	border-radius: 5px;
  }
  
  .image-and-tech-wrapper img {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border: 2px solid #000;
  }
  
  /* tools used */
  .all-tools-wrapper {
	width: 100%;
	height: fit-content;
	background: #000000db;
	position: relative;
	justify-content: center;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
  }
  
  /* live button */
  .live-icon {
	display: inline-block;
	position: relative;
	top: 0;
	background-color: red;
	width: 12px;
	height: 12px;
	margin-left: 20px;
	border-radius: 50%;
	z-index: 1;
	border: #ff000078;
  }
  
  .live-icon::before {
	content: "";
	display: block;
	position: absolute;
	background: radial-gradient(
	  circle,
	  rgba(255, 0, 0, 1) 20%,
	  rgba(252, 70, 107, 0) 100%
	);
	width: 6px;
	height: 6px;
	border-radius: 50%;
	animation: live 2s ease-in-out infinite;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
  }
  
  @keyframes live {
	0% {
	  transform: scale(1, 1);
	}
	100% {
	  transform: scale(3.5, 3.5);
	  background-color: rgba(red, 0);
	}
  }
  
  .btn {
	display: block;
	width: fit-content;
	position: relative;
	padding: 1rem 2rem;
	background-color: rgba(#ffff, 0.9);
	color: #333;
	border-radius: 50px;
	border: 2px solid #000;
	box-shadow: -5px 3px 4px #000000a6;
	transition: all 0.2s;
	outline: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	grid-column: 2/3;
	background: var(--background-yellow);
  }
  
  .btn:hover,
  .btn:focus {
	transform: translateY(-5px);
	padding: 1.3rem 2.3rem;
  }
  
  .btn:hover > span:before {
	animation: none;
  }
  
  .btn:active {
	transform: translateY(0px);
  }
  
  .btn_git {
	margin: 2rem 0 0;
	display: flex;
	align-items: center;
	column-gap: 1rem;
	padding: 0.8rem 2rem;
	height: 60px;
  }
  
  .btn_git:hover {
	transform: translateY(-5px);
	padding: 1.1rem 2.3rem;
  }
  
  /* accordion */
  
  .accordion {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	transition: 0.4s;
  }
  
  .active-accord,
  .accordion:hover {
	background-color: #ccc;
  }
  
  .accordion:after {
	content: "\002B";
	color: #777;
	font-weight: bold;
	float: right;
	margin-left: 5px;
  }
  
  .active-accord:after {
	content: "\2212";
  }
  
  .panel {
	padding: 0 18px;
	background-color: white;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
  }
  
  @media only screen and (min-width: 26em) {
	.work-content-wrapper {
	  width: 85%;
	  max-width: 30rem;
	}
  }
  
  @media only screen and (min-width: 70em) {
	.work-content-wrapper {
	  display: grid;
	  grid-template-columns: 1fr 1fr;
	  grid-template-rows: 1fr 1fr;
	  margin: 0 10rem 0 1rem;
	  max-width: none;
	  align-items: baseline;
	}
  
	.work-content-wrapper p {
	  align-self: center;
	  max-width: 30rem;
	}
  
	.image-and-tech-wrapper {
	  max-width: 25rem;
	  justify-self: center;
	  grid-row: 1/3;
	}
  
	.btn_git {
	  position: relative;
	  top: -7rem;
	}
  }
  
  /* Footer
  --------------------------------------------- */
  
  .loading {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	opacity: 1;
  }
  
  .fade-in {
	animation: fade-in 0.5s forwards;
  }
  
  @keyframes fade-in {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
  }
  
  .fade-out {
	animation: fade-out 0.5s forwards;
  }
  
  @keyframes fade-out {
	0% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
  }
  