/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN NORMALIZE.CSS)
	- Normalize
	- Box sizing
	- Media width
#Variables
# Base
	- Typography
	- Elements
	- Links
# Components
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Variables
--------------------------------------------- */
:root{
    --accent-yellow: #fffb92;
    --accent-orange: #ffc262;
    --accent-red: #ff9962;

    /* --background-yellow: #fffdd5; */
    --background-yellow: #ffe462;
}
/* Typography
--------------------------------------------- */
body {
	font-family: 'Mukta', sans-serif;
}

h1, h2, h3, h4 {
	font-family: 'Vollkorn', serif;
	font-weight: 400;
	background-color: var(--background-yellow);
	display: block;
	position: relative;
	z-index: 5;
}

/* page headings */
h1 {
	font-style: italic;
	font-size: 2.1rem;
    margin: 0;
    max-width: 15rem;
	animation: fadeInDown ;
	animation-duration: 2s;
	margin: 0;
}

p{
	background-color: var(--background-yellow);
	display: block;
	position: relative;
	z-index: 5;
}

.mobile-nav a{
	font-family: 'Vollkorn', serif;
    font-weight: 500;
}


@media only screen and (min-width: 26rem) {

	h1 {
		font-size: 2.5rem;
		margin: 0;
		max-width: 18rem;
	}

}

/* headings-2 */
h2{


}

@media (min-width: 40em) {

h2 {

}

}

p {

}


/* Elements
--------------------------------------------- */
section,
aside {
	padding: 0 1rem;
}

html {
	background-color: var(--background-yellow);
}

/* background diagonal line */
.back-line {
    position: fixed;
    width: 49rem;
    height: 1px;
    background-color: #000;
    z-index: 0;
    transform: rotate(45deg) translateX(-3%);
}

#line-two{
	top: 143vh;
    transform: rotate(45deg) translateX(-51%);
}

#line-one{
	width: 242%;
    left: -6rem;
    top: 18rem;
}

@media(min-width: 26rem){
	#line-two{
		top: 127vh;
	}
	
	#line-one{
		left: -4rem;
	}
}

@media(min-width: 40rem){
	#line-two{
		top: 124vh;
	}
	
	#line-one{
		left: -12rem;
	}
}

@media(min-width: 50rem){
	#line-two{
		top: 105vh;
	}
	
	#line-one{
		left: -16rem;
	}
}

@media(min-width: 60rem){
	#line-two{
		top: 105vh;
	}
	
	#line-one{
		left: -16rem;
	}
}

@media(min-width: 70rem){
	#line-two{
		top: 104vh;
		width: 67rem;
	}
	
	#line-one{
		left: -35rem;
	}
}

@media(min-width: 90rem){
	#line-two{
		width: 75rem;
	}
	
	#line-one{
		left: -40rem;
	}
}

@media(min-width: 114rem){
	#line-two{
		width: 101rem;
	}
	
	#line-one{
		left: -59rem;
	}
}



/* Tools */
.tools-used  {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
    flex-wrap: wrap;
	justify-content: center;
}

.tools-used li{
	margin: 0 1rem 0 0;
    padding: 0.5rem;
    width: fit-content;
    border-radius: 16px;
	margin: 0 0.5rem 0.5rem;
	padding: 0.5rem 1rem;
}

/* tech tools */
.tech-tools-item {
    background: #79d8ff;
	box-shadow: -5px 3px #2fc3ff;
}

/* design tools */
.design-tools-item {
    background: #ff7f7f;
	box-shadow: -5px 3px #fd6060;

}

/* team tools */
.team-tools-item {
    background: #7fff9f;
	box-shadow: -5px 3px #4df979;

}


/* Links
--------------------------------------------- */
a,
a:visited { 
	color: #0e007c;
    text-decoration: none;
}
a:visited { 
    text-decoration: none;
}


a:focus {

}

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/


/* Header
--------------------------------------------- */

/* Mobile menu styles */
.hamburger-menu {
	position: fixed;
	right: 1rem;
	width: 2.5rem;
	height: 1.9rem;
	cursor: pointer;
	z-index: 9999;
	bottom: 1.5rem;
}

.bar {
	position: absolute;
	width: 100%;
	height: 5.5px;
	background-color: var(--background-yellow);
	margin: 6px auto;
	transition: 0.4s;
	border-radius: 1rem;
	display: flex;
	justify-content: center;
	border: 1px solid #000;
	transition: 0.4s;
}

.before-bar,
.after-bar {
	width: 83%;
	border-radius: 10px;
	left: 0.2rem;
}

.middle-bar{
	top: 0;
}

.before-bar{
	top: -9px;
}

.after-bar {
	top: 9px;
}

/* Active state for hamburger menu */

.change .middle-bar {
	transform: translateX(4rem);

}

.change .before-bar {
	transform: rotate(45deg);
	top: 0;
	background-color: #ff7f7f;
}

.change .after-bar {
	transform: rotate(-45deg);
	top: 0;
	background-color: #ff7f7f;
}


/* navigation heading styling */
.site-navigation {
	background-color: #fffb92;
	padding: 0;
	margin: 0;
}

.mobile-nav {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	transform: translateX(0);
	transition: transform 1s ease-in-out;
	list-style: none;
	padding: 3rem 0;
	align-items: center;
	top: 0;
	right: 0;
	margin: 0;
	height: 100vh;
	background: rgb(0,0,0);
	background: linear-gradient(90deg, rgba(0,0,0,0) 2%, rgba(0,0,0,0.6927374301675977) 25%, rgba(0,0,0,1) 56%, rgba(0,0,0,1) 81%, rgba(0,0,0,1) 100%);
	z-index: 1000;
}


.mobile-nav.hide {
	transform: translateX(10rem);
	transition: transform 1s ease-in-out;
}

.mobile-nav li a {

	padding: 0 1rem;
    width: 6.4rem;
    height: 5.3rem;
	display: flex;
	align-items: center;
	clip-path: polygon(50% 0, 85% 25%, 85% 75%, 50% 100%, 15% 75%, 15% 25%);
	background-color: var(--background-yellow);
	justify-content: center;
	color: #000;

}

.mobile-nav li a:hover,
.mobile-nav li a:focus,
.mobile-nav li a:active {
	background-color: var(--accent-red);
}
.mobile-nav li a#current {
	background-color: #a19143;
}


.mobile-nav li {
	width: 6.8rem;
    height: 5.6rem;
	clip-path: polygon(50% 0, 85% 25%, 85% 75%, 50% 100%, 15% 75%, 15% 25%);
	background-color: #000000;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: rotate(90deg);
	margin: 1rem 0;
}

.mobile-nav li:hover {
	transform: rotate(105deg);
}


.mobile-nav li a div {
	display: inline-block;
	transform: rotate(270deg);
  }


/* Desktop Nav */
@media only screen and (min-width: 45rem) {

	.hamburger-menu {
		display: none;
	}
	 
	.mobile-nav {
		transform: translate(0%, 0%);
		transition: none;
		background: #00000000;
		right: 0.5rem;
	}


	.mobile-nav.hide {
		transform: none;
		transition: none;
	}

	.mobile-nav li a#current {
		background-color: var(--accent-orange);
	}

}




/* Main
--------------------------------------------- */



/* Page Header */



/* increase text size on big screen */
@media (min-width: 40em) {

	.page-header h1 {
		font-size: 4rem;
		text-shadow: 2.5px 2.5px var(--accent-yellow);
	}
}
@media (min-width: 60em) {

	.page-header h1 {
		font-size: 5rem;
		text-shadow: 2.5px 2.5px var(--accent-yellow);
	}
}


/* Landing Page */

.landing-content {
	min-height: 100vh;
	width: 100%;
	background: var(--background-yellow);;
	display: flex;
    flex-direction: column;
    justify-content: center;
}

.landing-title{
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	z-index: 5;
	background-color: var(--background-yellow);
}


.landing-content p {
	font-size: 1rem;
	margin: 0;
	animation: fadeInLeft ;
	animation-duration: 3.3s;
	font-style: italic;
}

.container {
	display: flex;
	flex-direction: column;
	width: 100%;
    align-items: baseline;
	align-items: center;
	margin-bottom: 3rem;
}

.container article {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	margin: 0 0 5rem;
	position: relative;
	width: 95%;
}



section {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	padding: 0;
  }
  #sec-1 {

  }
  #sec-2 {

  }

  .explore{
	background: var(--background-yellow);
  }

  .explore:hover,
  .explore:focus {
	background: var(--accent-red);
    border-radius: 50px;
  }

  .scroll-down {
	height: 35px;
	width: 30px;
	border: 2px solid black;
	position: relative;
	border-radius: 50px;
	cursor: pointer;
  }
  .scroll-down::before,
  .scroll-down::after {
	content: "";
	position: absolute;
	top: 20%;
	left: 50%;
	height: 10px;
	width: 10px;
	transform: translate(-50%, -100%) rotate(45deg);
	border: 2px solid black;
	border-top: transparent;
	border-left: transparent;
	animation: scroll-down 1s ease-in-out infinite;
	animation-duration: 1.4s;
	animation-delay: 1s;
  }
  .scroll-down::before {
	top: 30%;
	animation-delay: 0.3s;
	/* animation: scroll-down 1s ease-in-out infinite; */
  }

  .explore, .explore-title {
	opacity: 1;
	transition: opacity 0.5s;
  }

  .fade-out {
	opacity: 0;
  }

  .fade-in {
	opacity: 0; 
	animation: fadeIn 2s 2.2s forwards; /* Animation name, duration, and delay */
	transition: opacity 0.5s;
  }

  .disable {
	pointer-events: none;
	cursor: default;
  }

  .explore-wrapper h3{
	margin: 0 0 0.6rem;
	background: var(--background-yellow);
}
  .explore-wrapper{
	position: absolute;
    bottom: 0.5rem;
    left: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 1rem;
  }
  
  @keyframes scroll-down {
	0% {
	  /* top:20%; */
	  opacity: 0;
	}
	30% {
	  opacity: 1;
	}
	60% {
	  opacity: 1;
	}
	100% {
	  top: 90%;
	  opacity: 0;
	}
  }

  
  @keyframes fadeIn {
	from {
	  opacity: 0; 
	}
	to {
	  opacity: 1;
	}
  }
  





/* About Page */
.about-wrapper{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 2rem 1rem 0;
}


.about-wrapper .hexagon {
	width: 100%; 
	max-width: 20rem;
	background-color: transparent;
	position: relative;
	overflow: hidden;
	/* animation: fadeInLeft ;
	animation-duration: 2s; */
  }
  
  .about-wrapper .hexagon::before,
  .about-wrapper .hexagon::after {
	content: '';
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
  }
  
  
  .about-wrapper h2 {
	margin: 2rem 0 0;
  }

  .about-text {
	margin: 0 auto;
	padding: 0 1rem;
	/* animation: fadeInDown ;
	animation-duration: 2s; */
  }

  .self-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%); 
  }

 .about-wrapper .all-tools-wrapper .tools-used{
	border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

  

  @media only screen and (min-width: 45em) {

	.about-wrapper {
		margin: 3rem 10rem 0 1rem;
	}



}
  @media only screen and (min-width: 50em) {

	.about-wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin: 0 10rem 0 1rem;
		min-height: 100vh;
	}

	.about-wrapper .hexagon{
		grid-column: 1/2;
		grid-row: 1/2;
		justify-self: center;
	}

	.about-text{
		max-width: 25rem;
		margin: 0 1rem;
		/* animation: fadeInDown ;
		animation-duration: 2s; */
	  }
	}

.all-tools-wrapper{
	grid-column: 1/3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* full collage content + text */
.insta-wrapper{
	position: relative;
    width: 100%;
}

.insta-text {
    position: absolute;
    max-width: 17.1rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 8rem;
    z-index: 3;
    opacity: 1;
    transition: opacity 0.5s;
    font-size: 1.2rem;
}

/* hexigon collage */
.collage-content{
	position: relative;
}

.collage-container, .collage-menu{
	height: 80vh;
    width: 100%;
    position: relative;
	z-index: 4;
}

.collage-menu{
	transform: scale(0.9);
}

.collage-toggle{
	width: 11.8rem;
    height: 9.6rem;
    clip-path: polygon(50% 0, 85% 25%, 85% 75%, 50% 100%, 15% 75%, 15% 25%);
    background-color: var(--accent-red);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(90deg);
    margin: auto;
    position: absolute;
    z-index: 7;
    left: 0;
    right: 0;
    top: 0;
	bottom: 0;
	cursor: pointer;
}

#add{
	font-size: 40px;
	color: white;
	transition: 1s;

}

.collage-item{
	width: 9.8rem;
    height: 8.6rem;
    clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
    background-color: green;
    margin: auto;
	position: absolute;
    z-index: 6;
    left: 0;
    right: 0;
    top: 0;
	bottom: 0;
	transition: 1s;
}

.collage-item img{
	height: 100%;
    width: 100%;
    object-fit: cover;
}



/* Work Page */

.top-page-title{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.work-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;

}

.all-work-wrapper{
	width: 100%;
	width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
	margin: 0;
	position: relative;
	top: 2rem;
}


.all-work-wrapper img {
    width: 100%;
    border-radius: 5px;
	border: 2px solid #000;
}



.all-work-wrapper h2 {
    width: fit-content;
    background: #000;
    text-align: right;
    padding: 0.8rem 0.5rem;
    border: 3px solid var(--accent-red);
    border-radius: 3px;
    font-size: 1.2rem;
	z-index: 3;
	color: var(--background-yellow);
	position: absolute;
	top: -1.5rem;
	margin: 0;
    left: 0;
    right: 0;
	margin: 0 auto;
}

.all-work-wrapper article a{
	height: fit-content;
	position: relative;
}

.work-wrapper article {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	margin: 0 0 5rem;
	position: relative;
	width: 95%;
}

.sum-tools {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: center;
	flex-wrap: wrap;
	position: absolute;
    bottom: -1rem;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0) 2%, rgba(0,0,0,0.6927374301675977) 24%, rgba(0,0,0,1) 59%, rgba(0,0,0,1) 100%, rgba(0,0,0,1) 100%);
    padding: 1rem 0 1rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.work-content-wrapper{
	position: relative;
	z-index: 5;
}

@media only screen and (min-width: 26em){
	
	.all-work-wrapper article {
		width: 85%;
		max-width: 25rem;
	}
}

@media only screen and (min-width: 70em){
	
	.all-work-wrapper {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: flex-start;
		max-width: 70rem;
	}

	.all-work-wrapper article {
		margin: 0 2rem 5rem;
	}
}

@media only screen and (min-width: 100em){
	
	.all-work-wrapper {
		max-width: 88rem;
	}
}


/* SINGLE work page */

.single-work-title{
	height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
	margin: 1rem 0;
}

.all-tools-wrapper .tools-used{
	padding: 1rem;
	background: #000000db;
	border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.single-work-wrapper{
	width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.single-work-content{
	display: flex;
    justify-content: center;
	width: 100%;
}

.work-content-wrapper{
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 5rem;
    position: relative;
    width: 95%;
}

.single-work-title h1{
	font-size: 1.6rem;
}

.image-and-tech-wrapper {
	/* width: 90%; */
}

.image-and-tech-wrapper img{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border: 2px solid #000;
}

/* live button */
.live-icon {
	display: inline-block;
	position: relative;
	top: calc(50% - 5px);
	background-color: red;
	width: 10px;
	height: 10px;
	margin-left: 20px;
	border: 1px solid rgba(black, 0.1);
	border-radius: 50%;
	z-index: 1;
}

.live-icon::before {
	  content: "";
	  display: block;
	  position: absolute;
	  background-color: rgba(red, 0.6);
	  width: 100%;
	  height: 100%;
	  border-radius: 50%;
	  animation: live 2s ease-in-out infinite;
	  z-index: -1;
}
  
  
  @keyframes live {
	0% {
	  transform: scale(1, 1);
	}
	100% {
	  transform: scale(3.5, 3.5);
	  background-color: rgba(red, 0);
	}
  }

  .btn {
	display: block;
	width: fit-content;
	position: relative;
	padding: 1rem 2rem;
	background-color: rgba(#ffff, 0.9);
	color: #333;
	border-radius: 50px;
	border: 1px solid #ffff;
	box-shadow: 0px 2px 0px darken(#000000, 10%);
	transition: all 0.2s;
	outline: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	grid-column: 2/3;
  }
  
	.btn:hover {
	  transform: translateY(-5px);
	  padding: 1.3rem 2.3rem;
	  /* padding-right: calc(22px * $btnPaddingScalePlus); */
	  background-color: rgba(#fff, 1);
	  box-shadow: 0px 5px 10px darken(#000, 7%);
	}
  
	.btn:hover > span:before {
	  animation: none;
	}
  
	.btn:active {
	  transform: translateY(0px);
	  /* padding: calc(13px * #{$btnPaddingScaleMinus}) calc(25px * #{$btnPaddingScaleMinus});
	  box-shadow: inset 0px 2px 1px darken($bodyBgc, 10%); */
	}
  

@media only screen and (min-width: 26em){
	
	.work-content-wrapper {
		width: 85%;
		max-width: 30rem;
	}
}

@media only screen and (min-width: 70em){
	
	.work-content-wrapper {

		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		margin: 0 10rem 0 1rem;
		max-width: none;
		align-items: baseline;
	}

	.work-content-wrapper p {
		align-self: center;
		max-width: 30rem;
	}

	
	.image-and-tech-wrapper {
		max-width: 25rem;
		justify-self: center;
		grid-row: 1/3;
	}

}



/* Footer
--------------------------------------------- */


.loading {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	opacity: 1;
}

.fade-in{
	  animation: fade-in 0.5s forwards;
  }


	@keyframes fade-in {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
  }

.fade-out {
	animation: fade-out 0.5s forwards;
}
  
  @keyframes fade-out {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}